$primary-color: #03bada;
$second-color: #fa3d7cf8;
$third-color: #333131;
$fourth-color: #f4f4f4;

.button-base {
    text-align: center;
    font-size: 20px;
    border-radius: 2px;
    &:hover {
        border: 3px solid $third-color;
    }
}